manufacturers:
{% for manufacturer in manufacturers %}
  - "!create_or_update:name": {{ manufacturer.name }}
{% endfor %}

platforms:
{% for platform in platforms %}
  - "!create_or_update:name": {{ platform.name }}
    manufacturer__name: {{ platform.manufacturer }}
  {% if platform.network_driver is defined %}
    network_driver: {{ platform.network_driver }}
  {% endif %}
  {% if platform.napalm_driver is defined %}
    napalm_driver: {{ platform.napalm_driver }}
  {% endif %}
    "!ref": "{{ platform.name }}_platform"
{% endfor %}

software_versions:
{% for software_version in software_versions %}
  - "!create_or_update:version": {{ software_version.version }}
    platform: "!ref:{{ software_version.platform }}_platform"
    status__name: Active
    "!ref": "{{ software_version.platform }}_software_version"
{% endfor %}

device_types:
{% for device_type in device_types %}
  - "!create_or_update:model": {{ device_type.model }}
    manufacturer__name: {{ device_type.manufacturer }}
    part_number: {{ device_type.model }}
    u_height: {{ device_type.u_height }}
{% endfor %}

roles:
{% for role in roles %}
  - "!create_or_update:name": {{ role.name }}
    color: {{ role.color }}
    content_types:
  {% for ct in role.content_types %}
    - "!get:app_label": {{ ct.split('.')[0] }}
      "!get:model": {{ ct.split('.')[1] }}
  {% endfor %}
{% endfor %}

{% macro device(device_data, site_ref) %}
  {% set mgmt_int_name =
      "Ethernet0/0" if device_data.platform | lower in ["cisco", "ios"] 
      else "Management0" if device_data.platform | lower in ["arista", "eos"]
      else None
  %}
- "!create_or_update:name": {{ device_data.name }}
  "!ref": "{{ device_data.name | lower | replace('-', '_') }}"
  location: "!ref:{{ device_data.location | lower | replace(' ', '_') }}"
  device_type__model: {{ device_data.device_type }}
  role__name: {{ device_data.role }}
  status__name: Active
  platform: "!ref:{{ device_data.platform }}_platform"
  software_version__version: {{ device_data.software_version }}
  interfaces:
{% for intf in device_data.interfaces %}
  {% if intf.name is defined and intf.name is not none %}
    - "!create_or_update:name": {{ intf.name }}
      "!ref": "{{ device_data.name | lower | replace('-', '_') }}_{{ intf.name | lower | replace('/', '_') | replace('-', '_') }}"
      status__name: Active
      {% if intf.name == "Ethernet0/0" %}
      mgmt_only: true
      {% elif intf.name == "Management0" %}
      mgmt_only: true
      {% endif %}
      type: {{ intf.type | lower }}
      {% if intf.ipv4_address is defined or intf.ipv6_address is defined %}
      ip_addresses:
        {% if intf.ipv4_address is defined and intf.ipv4_address is not none %}
        - address: {{ intf.ipv4_address }}
          "!ref": "{{ device_data.name | lower | replace('-', '_') }}_{{ intf.name | lower | replace('/', '_') | replace('-', '_') }}_ipv4"
          {% if intf.name == mgmt_int_name %}
          namespace: "!ref:clabbr220_namespace"
          {% endif %}
          status__name: Active
          {% if intf.ip_role is defined %}
          role__name: {{ intf.ip_role }}
          {% endif %}
        {% endif %}
        {% if intf.ipv6_address is defined %}
        - address: {{ intf.ipv6_address }}
          "!ref": "{{ device_data.name | lower | replace('-', '_') }}_{{ intf.name | lower | replace('/', '_') | replace('-', '_') }}_ipv6"
          status__name: Active
          {% if intf.ip_role is defined %}
          role__name: {{ intf.ip_role}}
          {% endif %}
        {% endif %}
      {% endif %}
      {% if intf.lag is defined %}
      lag: "!ref:{{ device_data.name | lower | replace('-', '_') }}_{{ intf.lag | lower | replace('/', '_') | replace('-', '_') }}"
      device: "!ref:{{ device_data.name | lower | replace('-', '_') }}"
      {% endif %}
      {% if intf.tagged_vlans is defined and intf.tagged_vlans %}
      tagged_vlans:
        {% for vlan in intf.tagged_vlans %}
        - "!ref:{{ vlan }}_vlan"
        {% endfor %}
      {% endif %}
      {% if intf.untagged_vlan is defined %}
      untagged_vlan: "!ref:{{ intf.untagged_vlan }}_vlan"
      {% endif %}
      {% if intf.mode is defined %}
      mode: {{ intf.mode | lower }}
      {% endif %}
      {% if intf.ospf_area is defined or intf.ospf_network_type is defined or intf.mpls_enabled is defined %}
      custom_fields:
        {% if intf.ospf_area is defined %}
        ospf_area: "{{ intf.ospf_area }}"
        {% endif %}
        {% if intf.ospf_network_type is defined %}
        ospf_network_type: {{ intf.ospf_network_type }}
        {% endif %}
        {% if intf.mpls_enabled is defined %}
        mpls_enabled: {{ intf.mpls_enabled | lower }}
        {% endif %}
      {% endif %}
  {% endif %}
{% endfor %}
{% endmacro %}

devices:
{% for device_data in devices %}
{{ device(device_data, device_data.location | lower | replace(' ', '_')) | indent(2, true) }}
{% endfor %}

cables:
{% for device_data in devices %}
  {% for intf in device_data.interfaces if intf.z_device is defined %}
    {% if device_data.name < intf.z_device %}
  - "!create_or_update:label": "{{ device_data.name }} ↔ {{ intf.z_device }} ({{ intf.name }})"
    status__name: Connected
    termination_a: "!ref:{{ device_data.name | lower | replace('-', '_') }}_{{ intf.name | lower | replace('/', '_') | replace('-', '_') }}"
    termination_b: "!ref:{{ intf.z_device | lower | replace('-', '_') }}_{{ intf.z_interface | lower | replace('/', '_') | replace('-', '_') }}"
    {% endif %}
  {% endfor %}
{% endfor %}