{% for interface in device['interfaces'] %}
{% if 'Loop' in interface["name"] %}
{% include "/ios/interfaces/_loopback.j2" %}
{% elif device['role']["name"] == "Provider Router" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% elif device['role']["name"] == "Provider Edge Router" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% elif device['role']["name"] == "Customer Edge Router" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% elif device['role']["name"] == "Provider Route Reflector" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% endif %}
{% endfor %}