!
! Base configuration for vrnetlab/cisco_csr1000v:17.03.08a
! (see clabs/nautobot-workshop-topology.clab.yml)
service timestamps debug datetime msec
service timestamps log datetime msec
!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
!
username admin privilege 15 password 0 admin
!
no aaa new-model
!
!
!
!
!
!
!
!
!
!
!
!
!
no ip domain lookup
ip domain name lab
login on-success log
ipv6 unicast-routing
!
!
!
!
!
!
!
!
{% if config_context['mpls']['enabled'] is defined and config_context['mpls']['enabled'] == True %}
{% set mpls = config_context['mpls'] %}
{% if mpls['ldp']['enabled'] == True %}
mpls label protocol ldp
{% endif %}
{% endif %}
multilink bundle-name authenticated
!
!
!
!
memory free low-watermark processor 55011
!
!
spanning-tree mode rapid-pvst
!
!
!
!
!
!
!
!
! 
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
{% include '/ios/interfaces.j2' %}

!
{% if config_context['ospf'] is defined %}
{% include '/ios/ospf-ipv4.j2' %}
{% endif %}
!
{% if bgp_routing_instances is defined and not none %}
{% include '/ios/bgp.j2' %}
{% endif %}
ip forward-protocol nd
!
!
ip http server
ip http secure-server
ip route vrf clab-mgmt 0.0.0.0 0.0.0.0 GigabitEthernet1 192.168.220.1
ip scp server enable
!
ip ssh version 2
ip ssh time-out 60
ip ssh source-interface GigabitEthernet1
!
!
!
{% if config_context['prefix_lists'] is defined %}
{% include '/ios/prefix_list-ipv4.j2' %}
{% endif %}
ipv6 route vrf clab-mgmt ::/0 GigabitEthernet1
{% if config_context['ospf'] is defined %}
{% include '/ios/ospf-ipv6.j2' %}
{% endif %}
!
!
{% if config_context['prefix_lists'] is defined %}
{% include '/ios/prefix_list-ipv6.j2' %}
{% endif %}
{% if config_context['route_maps'] is defined %}
{% include '/ios/route_map.j2' %}
{% endif %}
{% if config_context['mpls'] is defined %}
{% include '/ios/mpls.j2' %}
{% endif %}
!
{% if config_context['observability'] is defined %}
{% include '/ios/observability.j2' %}
{% endif %}
!
control-plane
!
!
!
line con 0
 logging synchronous
line vty 0 4
 transport input ssh
 login local
 privilege level 15
 exec-timeout 0 0
!
!
!
!
end