{% set obs = config_context['observability'] %}
{% set mgmt_vrf = obs.get('mgmt_vrf', '') %}
{% if obs['snmp'] is defined %}
{% set snmp = obs['snmp'] %}
snmp-server community {{ snmp['community'] }} {{ snmp['access'] }}
{% endif %}
{% if obs['syslog'] is defined %}
{% set syslog = obs['syslog'] %}
{% if mgmt_vrf %}
logging vrf {{ mgmt_vrf }} host {{ syslog['host'] }} {{ syslog['port'] }} protocol {{ syslog['transport'] }}
{% else %}
logging host {{ syslog['host'] }} {{ syslog['port'] }} protocol {{ syslog['transport'] }}
{% endif %}
logging trap {{ syslog['trap_level'] }}
{% endif %}
